:root {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    --ctu-blue: #007AC3;
    --menu-background: #7393A7;
    --text-primary: #4A5156;
    --text-secondary: #475D6A;
    --transition-speed: 600ms;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

svg, .jvectormap-container {
    touch-action: auto;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    background-image: url("body_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    position: relative;
    min-height: 100vh;
}

body::after {
    content: "";
    opacity: 0.85;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

body[style], .modal.fade.show {
    /* fix bootstrap modal auto padding */
    padding-right: 0 !important;
}

body::-webkit-scrollbar {
    width: .25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--ctu-blue);
}

.row, .form-row {
    max-width: 100%;
    margin: 0;
}

.navbar {
    display: block;
    padding: 0;
    position: fixed;
    background-color: var(--menu-background);
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: white;
}

.link-text {
    display: none;
    margin-left: .5rem;
    max-width: 6.3rem;
}

.nav-link svg {
    min-width: 2.5rem;
    max-width: 2.5rem;
    margin: 0 1.5rem;
}

.logo {
    background: var(--ctu-blue);
    width: 100%;
}

.logo .nav-link {
    font-size: 3rem;
}

.logo .nav-link svg {
    min-width: 3rem;
    max-width: 3rem;
    margin: 0 1.25rem;
}

.logo .nav-link:hover {
    background: var(--ctu-blue);
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 5;
}

.top-bar-mobile {
    background: var(--ctu-blue);
    color: white;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.filters {
    width: 100%;
    background: white;
    padding: .5rem 1rem;
    box-shadow: 0 4px 4px rgba(74, 81, 86, 0.25);
    font-weight: bold;
}

.filters-icon a {
    cursor: pointer;
}

.custom-select, .form-control {
    border: 1px solid var(--text-secondary) !important;
    border-radius: 0 !important;
    width: 100%;
}

.react-select-container {
    text-align: left;
}

.travel-agencies-sort-select {
    min-width: 10rem;
}

.react-select__control {
    border: none !important;
    border-radius: 0 !important;
}

.react-select__menu-notice {
    font-weight: normal !important;
}

.react-select__value-container {
    border: 1px solid var(--text-secondary);
}

.react-select__placeholder, .react-select__option, .react-select__single-value {
    font-weight: normal;
    color: var(--text-primary) !important;
}

.react-select__indicator-separator {
    display: none;
}

.react-select__indicators {
    background-color: var(--text-secondary);
}

.react-select__dropdown-indicator, .react-select__option--is-selected {
    color: white !important;
}

.react-select__option--is-selected {
    background-color: var(--ctu-blue) !important;
}

.react-select__menu {
    border-radius: 0 !important;
}

.custom-select {
    background: #fff url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='60' height='60' fill='%23475D6A'/%3E%3Cpath d='M22.35 24.3L30 31.95L37.65 24.3L40 26.6667L30 36.6667L20 26.6667L22.35 24.3Z' fill='white'/%3E%3C/svg%3E") no-repeat right -1px center/2.3rem 2.3rem;
    padding-right: 2.8rem;
    padding-left: .5rem;
}

.custom-range::-webkit-slider-thumb {
    background: var(--text-primary);
}

.custom-range::-moz-range-thumb {
    background: var(--text-primary);
}

.custom-range::-ms-thumb {
    background: var(--text-primary);
}

.rc-slider-track {
    background-color: var(--text-secondary) !important;
}

.rc-slider-handle {
    border: solid 2px var(--text-secondary) !important;
}

.rc-slider-tooltip {
    white-space: nowrap;
    z-index: 10;
}

.prices_filter {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: .8rem;
}

.custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--text-primary);
    background-color: var(--text-primary);
}

.date-input {
    padding-right: 0;
}

.react-daterange-picker {
    width: 100%;
}

.react-daterange-picker__inputGroup__input {
    color: var(--text-secondary);
}

.react-daterange-picker__button__icon {
    stroke: var(--text-secondary) !important;
}

.react-daterange-picker__wrapper {
    padding: .32rem 0;
    width: 100%;
    border: 1px solid var(--text-secondary) !important;
}

.react-daterange-picker__inputGroup {
    min-width: auto !important;
    justify-content: center;
}

.results {
    padding: 1rem .5rem;
}

.card, .card-header {
    border-radius: 0;
    border: none;
}

.card-header {
    background-color: white;
    padding: 0 .5rem;
}

.results .nav-item {
    width: auto;
    height: auto;
}

.results .nav-item .nav-link {
    height: auto;
    color: var(--text-primary);
    opacity: 0.35;
    font-size: 2rem;
}

.results .nav-item .nav-link:hover {
    background: transparent;
}

.results .nav-item .nav-link.active {
    background: transparent;
    opacity: 1;
}

.results a.canvasjs-chart-credit {
    display: none;
}

.btn-icon {
    border: none;
    background: transparent;
    color: var(--text-primary);
}

.btn-icon:focus {
    outline: none;
}

.btn-icon svg {
    width: 1.5rem;
}

.results-table {
    color: var(--text-primary);
    margin-bottom: .5rem;
}

.results-table {
    table-layout: auto !important;
}

.results-table-header {
    color: white;
    background-color: var(--ctu-blue);
}

.results-table-header th {
    white-space: nowrap;
}

.react-bootstrap-table-pagination [class*='col-'] {
    padding: 0;
}

.react-bootstrap-table-pagination .btn, .react-bootstrap-table-pagination .dropdown-menu, .pagination .page-link {
    border-radius: 0 !important;
}

.react-bootstrap-table-pagination .dropdown-menu .dropdown-item {
    color: var(--text-primary);
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border: none;
}

.modal-body {
    padding: .5rem;
}

.travel-agencies, .destinations, .about, .copyright {
    text-align: center;
    padding: .5rem;
}

.destinations {
    padding-left: 0;
    padding-right: 0;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.jvectormap-zoomin {
    top: 1rem;
}

.jvectormap-zoomout {
    top: 3.5rem;
}

.travel-agencies-sort {
    background: white;
    padding: .5rem 1rem;
    width: 20rem;
    font-weight: bold;
    margin: 0 auto;
}

.travel-agencies-sort form {
    justify-content: center;
}

.travel-agencies .cards {
    display: flex;
    padding: .5rem 0;
    flex-wrap: wrap;
}

.travel-agencies .cards .card {
    width: 12rem;
    margin: .5rem auto;
}

.travel-agencies .cards .card .card-body {
    padding: .5rem;
}

.travel-agencies .cards .card .card-body img {
    max-width: 100%;
}

.about p {
    max-width: 45rem;
    margin: .5rem auto;
}

.copyright {
    font-weight: bold;
}

/* Desktop */
@media only screen and (max-width: 1400px) {
    .results .nav-item .nav-link {
        font-size: 1.5rem;
    }

    .btn-icon {
        padding: 0 .2rem;
    }

    .btn-icon svg {
        width: 1rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    html {
        scroll-padding-top: 13.5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1450px) {
    html {
        scroll-padding-top: 9rem;
    }
}

@media only screen and (min-width: 600px) {
    .top-bar-mobile {
        display: none;
    }

    .navbar {
        top: 0;
        width: 5.5rem;
        height: 100vh;
        transition: width 200ms ease;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .nav-link {
        height: 5.5rem;
    }

    .nav-link:hover {
        background: var(--text-secondary);
    }

    .navbar:hover {
        width: 17rem;
    }

    .navbar:hover .link-text {
        display: block;
        animation: menuTextFadeIn var(--transition-speed);
    }

    @keyframes menuTextFadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    main {
        margin-left: 5.5rem;
    }

    .filters {
        width: 100%;
        left: 5.5rem;
        min-height: 5.5rem;
    }
}

@media (min-width: 450px) and (max-width: 825px), (min-width: 992px) and (max-width: 1450px) {
    .react-daterange-picker__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .top-bar-mobile {
        display: flex;
        justify-content: space-between;
        padding: .3rem;
    }

    .logo-mobile {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .logo-mobile svg {
        min-width: 2rem;
        max-width: 2rem;
    }

    .logo-mobile span {
        margin-left: 1rem;
    }

    .filters {
        display: none;
    }

    .filters-icon {
        display: flex;
        width: 2.5rem;
        align-items: center;
    }

    .filters-icon svg {
        width: 100%;
    }

    .navbar {
        bottom: 0;
        width: 100%;
        height: 4rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        padding-bottom: 4rem;
    }

    .results-table-header th span {
        float: none;
    }

    .react-bootstrap-table-pagination [class*='col-'] {
        text-align: center;
    }

    .pagination {
        float: none !important;
        justify-content: center;
        padding-top: .5rem;
    }

    html {
        scroll-padding-top: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    .top-bar-mobile {
        padding: .5rem;
    }

    .navbar {
        height: 3rem;
    }

    main {
        padding-bottom: 4rem;
    }

    .filters {
        padding: .3rem;
    }

    .nav-link svg {
        min-width: 2rem;
        max-width: 2rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 450px) {
    .filters .col-4 {
        flex-basis: auto;
        max-width: 100%;
        padding-top: .2rem;
        padding-bottom: .2rem;
    }

    .filters {
        height: calc(100vh - 7rem);
        overflow-y: auto;
    }

    .results .nav-item .nav-link {
        font-size: 1.25rem;
        padding: 0 .5rem;
    }

    .travel-agencies-sort {
        width: 100%;
    }
}

@media only print {
    body {
        background: none;
    }

    nav.navbar, header.top-bar, .travel-agencies, .destinations, .about, .copyright, .btn-icon,
    .results-table-header th span, .nav-link, .modal.fade.show {
        display: none !important;
    }

    .tab-content > .tab-pane {
        display: block;
    }

    #average::before, #development::before, #countTravels::before, #maximal::before, #minimal::before,
    #result-table::before {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem auto;
    }

    #average::before {
        content: 'Průměrná cena';
        margin-top: 0;
    }

    #development::before {
        content: 'Vývoj cen';
    }

    #countTravels::before {
        content: 'Počet zájezdů';
    }

    #maximal::before {
        content: 'Maximální cena';
    }

    #minimal::before {
        content: 'Minimální cena';
    }

    #maximal {
        break-after: page;
    }

    #result-table::before {
        break-before: page;
        content: 'Výsledky vyhledávání';
    }
}